@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --dot-bg: #070a0d;
  --dot-color: gray;
  --dot-size: 1px;
  --dot-space: 70px;
  --textBodyColor: #111;
  --containerBg: #fff;
  --borderColor: gray;
  --buttonColor: #5fadd3;
}

body {
  background-color: var(--buttonColor);
  color: var(--textBodyColor);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

* {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  outline: none;
}

.container {
  background-color: var(--containerBg);
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.controls {
  margin-top: 30px;
  text-align: center;
}

.select,
.input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
}

.input::placeholder {
  color: gray;
}

.btn {
  padding: 8px 15px;
  border: none;
  background-color: var(--buttonColor);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  opacity: 0.5;
}

#canvas-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--containerBg);
}

@media screen and (max-width: 550px) {
  body {
    background: #151d26;
  }

  .container {
    max-width: 80%;
    margin: auto;
    box-shadow: none;
    padding: auto;
  }

  .controls {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 10px;
  }

  .select,
  .input {
    width: 100%;
  }

  .btn {
    width: 180px;
  }
}
